/* You can add global styles to this file, and also import other style files */
.experience1 {
    .first {
        background-color: red;
    }

    .second {
        background-color: blue;
    }

    .third {
        background-color: green;
    }

    .fourth {
        background-color: yellow;
    }
}

.custom {
    background-color: white;
    border-radius: 25px;
    padding: 20px;
}