/* You can add global styles to this file, and also import other style files */
.first {
    background-color: red;
}

.second {
    background-color: blue;
}

.third {
    background-color: green;
}

.fourth {
    background-color: yellow;
}